.titulo{
    text-align: center;
}

.formulario{
    text-align: center;
    align-items: center;
    justify-content: center;
}


.uno{
    align-items: center;
   

}

.dos{
    align-items: center;
    
}

.tres{
    align-items: center;
    
}

.cuatro{
    align-items: center;
}

.cinco{
    align-items: center;
}

